p.text-center
  a.btn.light(href='https://software.intel.com/en-us/html5/videos/intro-to-html5', '_blank') 
    | Comic Director - HTML Lessons
  br
  a.btn.light.push-top(href='http://ratiointeractive.github.io/Intel-DeveloperPortal_LessonCodeSamples/', '_blank') 
    | HTML5 Javascript API's Samples
  br
  a.btn.light.push-top(href='http://channel9.msdn.com/Events/Facebook-and-Windows-8-Hackathon/Facebook-and-Windows-8-Hackathon?d=1', '_blank')
    | Facebook and Windows 8 Hackathon

iframe(
  src='http://channel9.msdn.com/Events/Facebook-and-Windows-8-Hackathon/Facebook-and-Windows-8-Hackathon/Hack-attack-Top-tips-from-the-Windows-8-Facebook-API-hackathon/player?h=540&w=960&format=flash', 
  style='min-height: 540px;', 
  allowfullscreen='allowFullScreen', 
  frameborder='0', 
  scrolling='no'
)