.text-center
  img(src='img/projects/lively-everywhere.png')
  h5 Across all the major mobile platforms

p 
  | The Lively app was a software work of art. I inherited v1 of the app from Jeremy Thompson, a respected developer friend of mine. He had the whole setup running locally and on AWS using Vagrant and Virtual Box. Code was hosted on Github, and giving me admin access was my first step into the code base. Vagrant up, a magical command. Little did I know, that a month later, I'd be inheriting this whole system, with no one to help me maintain or upgrade it...

p
  | Even the Wordpress instance for the 
  a(href='http://www.getlive.ly/') Lively Marketing Website 
  | was on Amazon Web Services, with an RDS MySQL database instance. Files served with a custom nginx config. Cool stuff to inherit. 

.text-center
  img(src='img/projects/lively-detail-ios.png')


p
  | Startups, developers wear lots of hats. I Wore a ton of them, switching them all the time. It's a crazy thing, going from managing the front end, to managing a re-usable server. Luckily, I wasn't a total noob to ssh, bash, database admin, or other backend or server tasks. Otherwise I would have drowned. Being new to AWS is enough to make a dev crazy. 

p
  | I learned a lot about AWS and the Vagrant system, while I rebuilt the front end of the app. Mobile first, from the ground up. 60fps watched and tested from the ground up. Mobile testing early. All the things that I need to do, to ensure I represent what HTML and JS are capable of. It was very difficult that Android 2.3 needed to be supported, it's like the IE8 of mobile browsers. 

p
  | This whole time though, through hiring, firing, managing, coding, learning, fixing, and more.. We had some incredible musicians come through our amazing space at Lively. 2-3 times a week, we would stop working, and head to the our bigger stage, to watch a band play. Lively, of course, was recording audio and video from it, to later release in the app as exclusive content. Regardless, I heard lots of new music, that I wouldn't have otherwise explored, and it was awesome. Check out the performance below:
br
iframe(
  width='640', 
  height='360', 
  src='//www.youtube.com/embed/eb3cpdWEvcg?rel=0', 
  frameborder='0',
  allowfullscreen='allowfullscreen',
  style='width:100%;height:auto;min-height:480px;'
)
br
br
p
  | I could go on and on about things I did at Lively. We had a small team, pushing out some really solid code. Lively got lucky to have very smart developers help them make their software, really smart devs.
p.text-center
  | Checkout the sweet, dynamic Lively social page: A Python template, compiled upon request using the package_id in the url. Georgious shares to Facebook, Twitter, and more. A quality social page, complete with analytics and native deep app links.
  div.text-center
    a.btn.light(href='http://social.getlive.ly/service/social/package?package_id=0416f2c9d9bc49c9b55700b07eaa3bd0') Lively Show Page 

p
  | We really were on our way to playing with the big guys, Spotify, iTunes, etc. Our stack was solid, code was clean. The software end of Lively was tight, full of really smart people's code. 

.text-center
  img(src='img/projects/lively-show-invite.png')
  h5 We loved inviting friends and business partners to shows