.text-center
  img(src='img/projects/tedx-moment.png')

p I was really proud when I was asked to speak at TEDx in Tacoma, WA. I got really excited when I heard the topic too! Not that often a nerd get to talk about the stuff that makes him nerd out. I had a huge problem though too, far too much to say. I was going to struggle boiling it down. 
p At least I thought I would. The whole thing came together really well over a month or 2. I presented it to a few people, and isolated the places where I was going to deep. Thanks to them for listening to my talk for 25 minutes, when it was supposed to be 10-15. 

.text-center
  img(src='img/projects/tedx-1930s_ipad.png')
  h5 Look at everyone on their 1930's iPads lol

p I really wanted people to know user interface was everywhere. A new things are simply new tools, that make things easier. You've been adjusting to new interfaces since you were born, and they aren't going to stop improving. Let's all embrace Ui and use these faster tools, to spend more time with eachother. 

iframe(
  width='640', 
  height='360', 
  src='//www.youtube.com/embed/odt_C6vaFmI?rel=0', 
  frameborder='0', 
  allowfullscreen='allowfullscreen',
  style='width:100%;height:auto;min-height:480px;'
)

p.text-center
  a.btn.light(href='http://slides.com/nerdydork/tedx') Checkout The Slides