header.header
  .bg-img.bg-video
    video(autoplay, preload='auto')
      //- iOS .mp4
      source(
        src='https://dl.dropboxusercontent.com/u/6515442/ink.mp4', 
        type='video/mp4'
      )
      //- Open Web .webm
      source(
        src='https://dl.dropboxusercontent.com/u/6515442/ink.webm', 
        type='video/webm'
      )
      //- Firefox/Chrome .ogg
      source(
        src='https://dl.dropboxusercontent.com/u/6515442/ink.ogv', 
        type='video/ogg'
      )
      //- Fallback .mov
      source(
        src='https://dl.dropboxusercontent.com/u/6515442/ink.mov', 
        type='video/mov'
      )
      //- Local fallback
      source(
        src='img/video/ink.mp4', 
        type='video/mov'
      )
  #white-cover
  .title
    img.logo(src='img/argyle-ink.png')
      
#projects.directions.text-center
  .row.center-hand
    .column-8-hand.column-3-lap
      .trigger.btn.light
        span.fa.fa-th
        |  Projects
      br
      i.trigger.fa.fa-3x.fa-angle-down