li.title-box
  .row
    .column-4-hand
      img(src='img/avatar.png')
    .column-8-hand
      a(href="#")
        h1 Hi! 
        h2 I'm Adam Argyle
        h3.hint-text
          i.fa.fa-html5
          i.fa.fa-css3
          i.fa.fa-git
          i.fa.fa-apple
          i.fa.fa-android
          i.fa.fa-windows

each item in projects
  case item.type
    when 'project'
      li.project(data-key=item.key)
        a(href=item.url)
          //- img(src="img/tiles/#{item.image}")
          img(src=item.image)
          figcaption
            h3= item.title
            p= item.detail
    when 'social'
      li.social
        a.light(href=item.url)
          .row.center-hand.middle-hand
            .column-8-hand  
              if item.title
                i(class="social-icon block text-center fa fa-"+item.title)
              if item.detail
                p= item.detail
    when 'message'
      li.title-box
        a
          h2 
            b= item.title
            br 
            span= item.message