li.title-box
  a(href="#")
    h1 Hi! 
    h2 I'm Adam Argyle
    //- p Here's all the hats I can wear:
    //- dl
    //-   dt Developer Operations
    //-   dt Full Stack Web Engineer
    //-   dt Web Ui Engineer
    //-   dt Web UX Engineer
    //-   dt Web App Prototyper
    //-   dt Database Admin
    //-   dt Back End Engineer
    //-   dt REST API Engineer
    //-   dt Ui/Ux Designer
    //- p Front end systems I can work on:
    //- dl
    //-   dt Socket.io
    //-   dt Bootstrap 2/3
    //-   dt Grunt/Gulp/Yeoman/Roots
    //-   dt Analytics
    //-   dt Testing
    //-   dt Wordpress
    //-   dt HTML5
    //-   dt PhoneGap/DIY
    //-   dt Backbone
    //-   dt Angular
    //-   dt Stylus/Less/SASS/SCSS
    //-   dt Jade/Handlebars/Mustache/EJS/Functions
    //- p Back end systems I can work on:
    //- dl
    //-   dt AWS
    //-   dt Node
    //-   dt LAMP
    //-   dt Nginx
    //-   dt Python
    //-   dt PHP
    //-   dt Wordpress
    //-   dt Flex 4
    //-   dt ActionScript 3/2
    //-   dt MySQL
    //-   dt Redis
    //-   dt Mongo
    //-   dt Vagrant

each item in projects
  case item.type
    when 'project'
      li.project
        a(href=item.url)
          img(src=item.image)
          figcaption
            h3= item.title
            p= item.detail
    when 'social'
      li.social
        a(href=item.url)
          h1(class="social-icon block text-center fa fa-"+item.image)
          figcaption
            h3= item.title
    when 'message'
      li.title-box
        h2 
          b Devigner:
          br 
          | A creative who is a developer and designer.