header(style='opacity:0')
  //- linear-gradient(to bottom, hsla(0, 0%, 0%, 0.2), hsla(0, 0%, 0%, 0.8)), 
  .bg-img.project-img(style="background-image:url(#{article.cover.image})")
  .title.light
    .row.center-hand.center-lap
      .column-12-hand.column-9-lap
        h1= article.cover.title
        h2= article.cover.subline
    if article.cover.github
      a.btn.light.push-right(href=article.cover.github, target='_blank')
        i.fa.fa-github-alt
        |  Github
    if article.cover.demo
      a.btn.light(href=article.cover.demo, target='_blank')
        i.fa.fa-gamepad
        |  Demo
  .directions.text-center
    .row.center-hand
      .column-3-hand
        i.fa.fa-3x.fa-angle-down

article.dark
  .row.center-hand
    .project-title.column-12-hand.column-11-lap
      h1= article.title
      p.subline= article.subline
  .row.center-hand
    #project-post.column-11-hand.column-10-lap.text-left
      //- filled from ajax
  footer.row.center-hand
    .column-10-hand.column-5-lap.column-3-desk
      .btn.dark.close-article
        .fa.fa-check-circle-o
        |  Finished Reading