header.header
  .bg-img.project-img(style="background-image:url(#{article.cover.image})")
  .title
    h1= article.cover.title
    h2= article.cover.subline
    #read.trigger.btn.light.push-right 
      i.fa.fa-book
      |  Read
    .btn.light 
      i.fa.fa-gamepad
      |  Demo
.row.directions.text-center.center-hand
  .column-3-hand
    i.fa.fa-3x.fa-angle-down

.title
  h1= article.title
  p.subline= article.subline

article.content.dark
  .row.center-hand
    #project-post.column-10-hand.text-left
      //- filled from ajax