header(style="height:100vh;")
  //- linear-gradient(to bottom, hsla(0, 0%, 0%, 0.2), hsla(0, 0%, 0%, 0.8)), 
  .bg-img.project-img(style="background-image:url(#{article.cover.image})")
  .title.light
    h1= article.cover.title
    h2= article.cover.subline
    .btn.light 
      i.fa.fa-gamepad
      |  Demo
.directions.text-center
  .row.center-hand
    .column-3-hand
      i.fa.fa-3x.fa-angle-down

article.dark
  .row.center-hand
    .project-title.column-11-hand
      h1= article.title
      p.subline= article.subline
  .row.center-hand
    #project-post.column-10-hand.text-left
      //- filled from ajax